version: '2.4'

services:
  streamlit:
    build:
      dockerfile: ./Dockerfile
      context: ./
    ports:
      - '8501:8501'
    volumes:
      - './data:./source:delegated'
      - './project:./:delegated'
    environment:
      - USER_ID=1000
      - GROUP_ID=1000